.Home{
    display:flex;
    flex-direction:column;
     align-items:center ;
}
input{
    width: 300px;
    padding:10px;
    border-bottom: 2px solid;
    outline: none;
}
button{
    padding:10px;
    background-color: black;
    color: white;
    cursor: pointer;
}